.card-body.text-right {
    text-align: right;
  }
  .img-right{
    display: flex;
    justify-content: end;
  }
  .card .btn{
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 14px;
  }
  .card .btn:hover{
    background-color: rgba(255, 20, 145, 0.774);
    color: #fff;
    border: none;
    outline: none;
  }